@import url("./nav.css");
@import url("./header.css");
@import url("./metricas.css");
@import url("./talentos.css");
@import url("./vagas.css");

:root {
    --branco: #FFFFFF;
    --cinza-claro: #667085;
    --cinza-escuro: #101828;
    --vermelho: #8E2424;
    --cinza-borda: #EAECF0;
    --fundo-botao: rgba(142, 36, 36, 0.05);

    --fonte-principal: Inter, sans-serif;
}

body {
    font-family: var(--fonte-principal);
    color: var(--cinza-escuro);
    font-size: 16px;
    font-weight: 400;
}